.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.center-all {
	justify-content: center;
	align-items: center;
}

.w-100 {
	width: 100%;
}

.text-red {
	color: var(--red);
}

.text-blue {
	color: var(--blue);
}

.text-green {
	color: var(--green);
}

.text-yellow {
	color: var(--yellow);
}

.text-foreground {
	color: var(--foreground);
}

.text-background {
	color: var(--background);
}

.bkg-0 {
	background-color: var(--background--0);
}

.bkg-1 {
	background-color: var(--background--1);
}

.bkg-2 {
	background-color: var(--background--2);
}

.bkg-black {
	background-color: var(--black);
}

.uppercase {
	text-transform: uppercase;
}

.p-small {
	padding: var(--small);
}

.p-medium {
	padding: var(--medium);
}

.transition-all--slow {
	transition: all 1s ease-in;
}

.transition-all--x-slow {
	transition: all 2s ease-in;
}

.on-hover--grow {
	font-size: initial;
	transition: font-size 0.5s ease-out;
}

.on-hover--grow:hover {
	font-size: var(--large);
	transition: font-size 0.5s ease-out;
}

.not-selectable {
	user-select: none;
}

@media screen and (max-width: 600px) {
	.row {
		flex-direction: column;
	}
}