.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.center-all {
	justify-content: center;
	align-items: center;
}

.w-100 {
	width: 100%;
}

.text-red {
	color: var(--red);
}

.text-blue {
	color: var(--blue);
}

.text-green {
	color: var(--green);
}

.text-yellow {
	color: var(--yellow);
}

.text-foreground {
	color: var(--foreground);
}

.text-background {
	color: var(--background);
}

.bkg-0 {
	background-color: var(--background--0);
}

.bkg-1 {
	background-color: var(--background--1);
}

.uppercase {
	text-transform: uppercase;
}

.p-ud-small {
	padding: var(--small) 0;
}

@media screen and (max-width: 600px) {
	.row {
		flex-direction: column;
	}
}